*{
    font-family: 'Pokemon Solid', sans-serif;
                                                
}

strong{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dark{
color: white;
background-color: black;
}

.light{
    color: black;
    background-color: white;
}